@using Remotus.Web.Helpers
@model Remotus.Base.IResponseBase<Remotus.Base.IFunctionResult>
@{
    IObjectRenderer objectRender = HtmlObjectRenderer.Default;
}

<div class="FunctionResult">

    <h3>Response:</h3>

    @if (Model?.Error != null)
    {
        @Html.Partial("_Error", Model.Error)
    }
    else if (Model?.Result?.Error != null)
    {
        @Html.Partial("_Error", Model.Result.Error)
    }
    
    <div class="FormattedFunctionResult">
        @Html.RenderObject(objectRender, Model?.Result?.Result)
    </div>
</div>
