<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Remotus">
      <section name="Api" type="Remotus.API.ApiConfig, Remotus.API" />
    </sectionGroup>
  </configSections>

  <Remotus>
    <Api>
      <property name="Enabled" value="false" />
      <property name="EnableHubServer" value="false" />
      <property name="ServerApiAddress" value="http://localhost:9000/api/v1/" />
      <property name="ClientApiAddress" value="http://localhost:9000/api/v1/" />

      <!-- On what urls the Owin application could be accessable on -->
      <urls>
        <url value="http://+:9000" />
        <url value="http://localhost:9000" />
      </urls>

      <!-- Hard-coded addresses to other clients, or fallback when autodiscovery fails -->
      <clients>
        <client>
          <property name="Enabled" value="true" />
          <property name="Address" value="http://localhost:9000/api/v1/" />
        </client>
      </clients>
    </Api>
  </Remotus>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
