<div class="DashboardPartial">
    <canvas class="TouchPadCanvas" width="1200" height="900" style="opacity: 0.6;">
        <div class="TouchPad">
            @*<img class="Background" src="@Url.Action("ScreenshotAsync", "Dashboard")" alt=""/>*@
            <img class="Background" src="" alt="" />

        </div>
    </canvas>
    <a href="javascript:void(0);">Left</a>
    <a href="javascript:void(0);">Right</a>
</div>
