<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServicePort" value="1323" />
    <add key="SearchFileExt" value=".EXE;.BAT;.PS1;" />
    <add key="SearchPaths" value="C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\IDE;
                                  C:\Windows\Microsoft.NET\Framework64\v4.0.30319;
                                  C:\Program Files (x86)\XBMC;
                                  C:\AmbiLED\Software_Pack;" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>